/* src/components/LoginPage.css */
.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 450px;
  width: 100%;
}

.login-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.login-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.login-input {
  width: 100%;
  margin-bottom: 1rem;
}

.login-button {
  width: 100%;
}
