/* src/App.css */
.sidebar {
  width: 200px;
  min-height: 100vh;
  transition: width 0.3s, padding 0.3s;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar-header {
  border-bottom: 1px solid #ddd;
}

.main-content {
  background-color: #eceef0;
  flex-grow: 1;
  transition: margin-left 0.3s;
  margin-left: 200px;
}

.main-content.expanded {
  margin-left: 0;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
